@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@200;400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Albert+Sans:wght@700&family=Nunito:ital,wght@0,200;0,300;0,600;1,800&display=swap");
/*---------------------<HEADER>-------------------*/
header {
  grid-area: header;
  background-color: rgba(248, 248, 248, 0.662745098);
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  backdrop-filter: blur(20px);
  position: sticky;
  box-shadow: 1px 1px 5px 1px rgba(46, 44, 44, 0.295);
  z-index: 1000;
}

/*---------------<REGLAS GENERALES>---------------*/
a {
  color: rgb(7, 6, 83);
  text-decoration: none;
}

strong {
  font-style: italic;
}

main {
  grid-area: main;
}

textarea {
  width: 500px;
  height: 200px;
}

input[type=submit] {
  width: 100px;
}

label {
  font-size: 20px;
}

input[type=button] {
  width: 150px;
  font-family: "Montserrat", sans-serif;
  height: 30px;
  background-color: #3757E6;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: large;
  margin-top: 40px;
}

input[type=button]:hover {
  background-color: #203cb8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header__div--img {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 160px;
}

.header__div--h1 {
  font-weight: 300;
  color: rgb(7, 6, 83);
  font-size: large;
}

.header__h2 {
  display: none;
  color: rgb(7, 6, 83);
}

/*---------------------<BODY>---------------------*/
body {
  background-color: white;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

/*-------------------<FOOTER>---------------------*/
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 0.4fr auto 0.4fr;
  grid-template-areas: "direccion links iframe";
  width: 100%;
  height: 140px;
  background-color: #f8f8f8;
}

/* --------<MAIN INDEX>-------- */
.main__in {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "present" "servicios" "because";
  justify-items: center;
}
@media (min-width: 768) and (max-width: 1024px) {
  .main__in {
    grid-template-rows: auto auto auto 200px;
    row-gap: 20px;
  }
}

/* --------<MAIN NOSOTROS>-------- */
.main__n {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 550px;
  grid-template-areas: ". s1 . " "s2 logo s3 " ". s4 .";
  column-gap: 30px;
  row-gap: 30px;
  justify-items: center;
  align-content: flex-start;
  background-color: #3757E6;
}
@media (min-width: 601) and (max-width: 768px) {
  .main__n {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "s1" "s2" "s3" "s4";
  }
}
@media (min-width: 1024) and (max-width: 1200x) {
  .main__n {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "s1 s2" "s3 s4";
  }
}

/* --------<MAIN SERVICIOS>-------- */
.main__servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr repeat(6, 1fr);
  justify-items: center;
  row-gap: 40px;
  grid-template-areas: "section" "section1" "section2" "section3" "section4" "section5" "section6";
  background-color: #3757E6;
}
@media (min-width: 601) and (max-width: 768px) {
  .main__servicios {
    grid-template-rows: 1px 400px 370px 360px 1px;
  }
}
@media (min-width: 768) and (max-width: 1024px) {
  .main__servicios {
    grid-template-rows: 1px 500px 500px 500px 1px;
  }
}
@media (min-width: 1024) and (max-width: 1200x) {
  .main__servicios {
    grid-template-rows: 1px 800px 650px 700px 1px;
  }
}

/* --------<MAIN CLIENTES>-------- */
.main__clientes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 1.3fr;
  grid-template-areas: "titulo" "slider" "carrusel";
  justify-items: center;
  align-items: center;
  background-color: #3757E6;
}
@media (min-width: 401) and (max-width: 600px) {
  .main__clientes {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
}
@media (min-width: 1024) and (max-width: 1200x) {
  .main__clientes {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
}

/*--------<MAIN CONTACTO>--------*/
.main__contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 100px;
  grid-template-areas: "div" "iframe";
  background-color: #3757E6;
}
@media (min-width: 601) and (max-width: 768px) {
  .main__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 50px;
  }
}
@media (min-width: 768) and (max-width: 1024px) {
  .main__contacto {
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: 1fr;
    grid-template-areas: ". div iframe .";
    column-gap: 20px;
  }
}
@media (min-width: 1024) and (max-width: 1200x) {
  .main__contacto {
    grid-template-rows: 1fr 0.5fr 50px;
    column-gap: 25px;
  }
}

.footer__div--a {
  grid-area: links;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer__div--a .bi {
  color: black;
  font-size: 30px;
  margin: 20px;
  transition: all, 0.3s;
}
.footer__div--a .bi:hover {
  color: #3757E6;
  font-size: 40px;
}

.footer__direccion {
  grid-area: direccion;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.footer__direccion .h3__footer {
  width: 30%;
  text-align: center;
}
.footer__direccion .direccion__container {
  text-align: center;
  width: 100%;
}
.footer__direccion .direccion__container .ul__footer {
  width: 100%;
  list-style: none;
}
.footer__direccion .direccion__container .ul__footer .li__footer .bi {
  color: #3757E6;
  font-size: 20px;
  padding-right: 5px;
}

.ubicacion__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ubicacion__footer .iframe__ubicacion--footer {
  border-radius: 10px;
  position: absolute;
  transition: 0.4s;
}
.ubicacion__footer .iframe__ubicacion--footer:hover {
  width: 600px;
  height: 300px;
  transform: translate(-70px, -100px);
}

.header__div--nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav__check {
  display: none;
}

.menu__burguer {
  display: none;
}

.nav__ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-right: 90px;
}

.nav__li {
  display: inline-block;
  font-size: large;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.conteiner__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: present;
  width: 100%;
  height: 85vh;
  background: linear-gradient(100deg, rgba(0, 4, 255, 0.87), rgba(12, 224, 206, 0.89) 78%);
  background-size: 600% 400%;
  border-radius: 0% 0% 100% 80%;
  animation: backgroundgradient 6s linear infinite;
}
.conteiner__presentation .presentation__h1 {
  font-weight: 500;
  text-align: center;
  color: rgb(255, 253, 250);
  font-size: 200%;
  width: 40%;
  margin-right: 50px;
  margin-bottom: 100px;
}

.image__box {
  width: 30vw;
  margin-right: 1rem;
}

@keyframes backgroundgradient {
  0% {
    background-position: 0% 25%;
  }
  20% {
    background-position: 35% 70%;
  }
  40% {
    background-position: 70% 100%;
  }
  60% {
    background-position: 100% 70%;
  }
  80% {
    background-position: 70% 35%;
  }
  95% {
    background-position: 35% 0%;
  }
}
.services__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: servicios;
  width: 100%;
  margin-top: 70px;
}
.services__section .title__section {
  font-family: "Albert Sans", sans-serif;
  font-size: 190%;
  font-weight: bold;
  color: #021568;
  margin: 3rem;
}
.services__section .conteiner__cards {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services__section .conteiner__cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 350px;
  margin: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 1px 14px -8px rgba(0, 0, 0, 0.425);
  transition: transform 0.3s;
}
.services__section .conteiner__cards .card .title_card {
  font-size: large;
  color: #021568;
  padding-top: 30px;
}
.services__section .conteiner__cards .card .div__img {
  margin-top: 20px;
  width: 180px;
  height: 170px;
  display: flex;
}
.services__section .conteiner__cards .card .div__img .img__card {
  object-fit: contain;
}
.services__section .conteiner__cards .card:hover {
  transform: scale(1.04, 1.04);
}

.because {
  grid-area: because;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3757E6;
  width: 100%;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.089) 0px 5px 7px 4px inset;
}
.because .title__section2 {
  font-family: "Albert Sans", sans-serif;
  font-size: 195%;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 3rem;
}
.because .conteiner__because {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}
.because .conteiner__because .div__img--because {
  display: flex;
  width: 35%;
  height: 130%;
}
.because .conteiner__because .div__img--because .img__because {
  object-fit: contain;
}
.because .conteiner__because2 {
  width: 50%;
}
.because .conteiner__because2 .title__because {
  color: #f8f8f8;
  text-align: center;
  font-size: 170%;
  padding: 10px;
}
.because .conteiner__because2 .because__p {
  width: 100%;
  font-weight: 100;
  text-align: center;
  font-size: 170%;
  color: #f8f8f8;
}

.work {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.089) 0px 3px 7px 4px inset;
  width: 100%;
}
.work .title__work {
  font-family: "Albert Sans", sans-serif;
  font-size: 190%;
  font-weight: bold;
  color: #021568;
  margin: 3rem;
}
.work .cv_p {
  color: #021568;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}
.work .img__cv {
  width: 16%;
  margin: 40px;
}

.because__link {
  text-decoration: underline white;
  color: white;
}

.section__1, .section__4, .section__3, .section__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: s1;
  width: 400px;
  height: 300px;
}
.section__1 .section__n--img, .section__4 .section__n--img, .section__3 .section__n--img, .section__2 .section__n--img {
  width: 190px;
  height: 220px;
  border-radius: 300px;
  padding-bottom: 30px;
  margin-top: 20px;
}
.section__1 .section__n--h2, .section__4 .section__n--h2, .section__3 .section__n--h2, .section__2 .section__n--h2 {
  color: white;
}
.section__1 .section__n--p, .section__4 .section__n--p, .section__3 .section__n--p, .section__2 .section__n--p {
  color: white;
  text-align: center;
  font-size: 130%;
  width: 350px;
  height: 40px;
  margin-top: 10px;
}

.section__2 {
  grid-area: s2;
}

.section__3 {
  grid-area: s3;
}

.section__4 {
  grid-area: s4;
  margin-bottom: 130px;
}

.div__logo--a {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.541);
  border-radius: 130px;
  width: 200px;
  height: 200px;
  align-self: center;
  animation: logo 1.8s ease-in-out infinite;
}
.div__logo--a .img__a {
  width: 120px;
}

@keyframes logo {
  0% {
    transform: scale(1, 1);
  }
  25% {
    background-color: white;
    transform: scale(1.1, 1.1);
  }
  35% {
    background-color: white;
    transform: scale(1.14, 1.14);
  }
  80% {
    transform: scale(1, 1);
  }
}
.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 35px;
  grid-area: section;
  width: 100%;
  height: 570px;
  background-color: white;
  border-radius: 0% 0% 100% 80%;
}
.presentacion .titulo__presentacion {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 180%;
  margin-top: 20px;
  color: rgb(7, 6, 83);
}
.presentacion .container__imagen--titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion .container__imagen--titulo .container__imagen--presentacion {
  width: 40%;
}

.container__titulo--presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}
.container__titulo--presentacion .parrafo__presentacion {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 150%;
  color: rgb(7, 6, 83);
}

.seccion__servicios--electricidad, .seccion__servicios--control, .seccion__servicios--redes, .seccion__servicios--aire, .seccion__servicios--plomeria, .seccion__servicios--construcciones {
  display: flex;
  justify-content: space-evenly;
  grid-area: section1;
  width: 100%;
  color: white;
}
.seccion__servicios--electricidad .articulo__servicios, .seccion__servicios--control .articulo__servicios, .seccion__servicios--redes .articulo__servicios, .seccion__servicios--aire .articulo__servicios, .seccion__servicios--plomeria .articulo__servicios, .seccion__servicios--construcciones .articulo__servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 50%;
  height: 50%;
  margin-top: 120px;
}
.seccion__servicios--electricidad .articulo__servicios .h2__articulo, .seccion__servicios--control .articulo__servicios .h2__articulo, .seccion__servicios--redes .articulo__servicios .h2__articulo, .seccion__servicios--aire .articulo__servicios .h2__articulo, .seccion__servicios--plomeria .articulo__servicios .h2__articulo, .seccion__servicios--construcciones .articulo__servicios .h2__articulo {
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin: 30px;
}
.seccion__servicios--electricidad .articulo__servicios .parrafo__articulo, .seccion__servicios--control .articulo__servicios .parrafo__articulo, .seccion__servicios--redes .articulo__servicios .parrafo__articulo, .seccion__servicios--aire .articulo__servicios .parrafo__articulo, .seccion__servicios--plomeria .articulo__servicios .parrafo__articulo, .seccion__servicios--construcciones .articulo__servicios .parrafo__articulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  width: 100%;
  height: 80%;
  text-align: center;
}
.seccion__servicios--electricidad .items__card, .seccion__servicios--control .items__card, .seccion__servicios--redes .items__card, .seccion__servicios--aire .items__card, .seccion__servicios--plomeria .items__card, .seccion__servicios--construcciones .items__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 25%;
  height: 75%;
  background-color: white;
  color: rgb(7, 6, 83);
  margin-top: 45px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.seccion__servicios--electricidad .items__card .titulo__items--card, .seccion__servicios--control .items__card .titulo__items--card, .seccion__servicios--redes .items__card .titulo__items--card, .seccion__servicios--aire .items__card .titulo__items--card, .seccion__servicios--plomeria .items__card .titulo__items--card, .seccion__servicios--construcciones .items__card .titulo__items--card {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin: 20px;
}
.seccion__servicios--electricidad .items__card .ul__servicio, .seccion__servicios--control .items__card .ul__servicio, .seccion__servicios--redes .items__card .ul__servicio, .seccion__servicios--aire .items__card .ul__servicio, .seccion__servicios--plomeria .items__card .ul__servicio, .seccion__servicios--construcciones .items__card .ul__servicio {
  width: 80%;
}
.seccion__servicios--electricidad .items__card .ul__servicio .li__servicio, .seccion__servicios--control .items__card .ul__servicio .li__servicio, .seccion__servicios--redes .items__card .ul__servicio .li__servicio, .seccion__servicios--aire .items__card .ul__servicio .li__servicio, .seccion__servicios--plomeria .items__card .ul__servicio .li__servicio, .seccion__servicios--construcciones .items__card .ul__servicio .li__servicio {
  padding: 10px;
  list-style: square;
  font-size: 16px;
}

.seccion__servicios--construcciones {
  grid-area: section2;
}

.seccion__servicios--plomeria {
  grid-area: section3;
}

.seccion__servicios--aire {
  grid-area: section4;
}

.seccion__servicios--redes {
  grid-area: section5;
}

.seccion__servicios--control {
  grid-area: section6;
}

.seccion__clientes--presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: titulo;
  background-color: white;
}
.seccion__clientes--presentacion .container__titulo--clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: rgb(7, 6, 83);
  text-align: center;
}
.seccion__clientes--presentacion .container__titulo--clientes .h2__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.seccion__clientes--presentacion .container__titulo--clientes .p__titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  width: 90%;
}
.seccion__clientes--presentacion .container__imagen--titulo {
  width: 45%;
}

.seccion__empresas {
  grid-area: slider;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
.seccion__empresas .div__carrusel .ul__img {
  width: 80%;
  display: flex;
  animation: carruse 10s infinite;
}
.seccion__empresas .div__carrusel .ul__img .li__img {
  width: 600px;
  display: flex;
  border: 1px solid black;
  box-shadow: 1px 2px 10px 2px black;
}

img {
  width: 100%;
  object-fit: cover;
}

@keyframes titulo {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  65% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
}
@keyframes carrusel {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  65% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
}
.seccion__exito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 7px 2px inset;
  width: 70%;
  height: 70%;
}
.seccion__exito .container__exito {
  width: 90%;
  height: 90%;
  background-color: white;
  overflow: hidden;
}
.seccion__exito .container__exito .rel__imagen:checked + .contenido__carrucel {
  position: relative;
  opacity: 100;
}
.seccion__exito .container__exito .circle {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.seccion__exito .container__exito .circle li {
  display: inline-block;
  margin: 0 5px;
}
.seccion__exito .container__exito .circle .indicador {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.seccion__exito .container__exito .circle .indicador:hover {
  color: #aaaaaa;
}
.seccion__exito .container__exito .contenido__carrucel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61%;
  height: 60%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.seccion__exito .container__exito .contenido__carrucel .aside__carrucel {
  width: 30%;
  height: 100%;
  background-color: red;
}
.seccion__exito .container__exito .contenido__carrucel .img__carrucel1, .seccion__exito .container__exito .contenido__carrucel .img__carrucel3, .seccion__exito .container__exito .contenido__carrucel .img__carrucel2 {
  display: flex;
  width: 70%;
  height: 100%;
  z-index: 3;
  object-fit: cover;
}
.seccion__exito .container__exito .contenido__carrucel .img__carrucel2 {
  z-index: 2;
}
.seccion__exito .container__exito .contenido__carrucel .img__carrucel3 {
  z-index: 1;
}

.div__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: div;
  width: 100%;
}
.div__contacto .h2__contacto {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 350;
  margin-bottom: 1rem;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  margin-bottom: 70px;
}
form .label__contacto {
  font-size: 25px;
  padding-bottom: 5px;
}
form .input {
  background-color: white;
  border: none;
  width: 100%;
  height: 35px;
  font-size: larger;
}
form .button {
  background-color: rgb(238, 231, 231);
  font-size: large;
  border-radius: 4px;
  margin-top: 4px;
  width: 200px;
  height: 35px;
  cursor: pointer;
}
form .button:hover {
  box-shadow: 3px 3px 3px 3px rgba(36, 39, 41, 0.2);
}

textarea {
  background-color: white;
  font-size: x-large;
  width: 40vw;
  height: 30vh;
}

.div__ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: iframe;
  width: 100%;
}
.div__ubicacion .iframe__contacto {
  border-radius: 10px;
  width: 70%;
}

/*----------------------------------<BREAKPOINTS>-------------------------*/
/*---------<BREACK 0PX a 400PX>--------*/
@media (max-width: 400px) {
  /*--------<Header>--------*/
  .header__div--h1 {
    display: none;
  }
  .header__div--img {
    margin-left: 30px;
    margin-top: 0px;
  }
  .nav__check:checked + .nav__ul {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  a {
    color: black;
    font-size: 25px;
    margin: 20px 0 5px 0;
  }
  a:hover {
    color: aquamarine;
  }
  .nav__ul {
    height: 300px;
    width: 100%;
    top: 90px;
    right: 0px;
    background-color: rgba(236, 232, 232, 0.8823529412);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.1px;
    margin-top: 5px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.2s ease-in-out;
  }
  .nav__li {
    display: flex;
    justify-content: space-between;
  }
  .menu__burguer {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 40px;
  }
  /*--------<Main Index>---------*/
  .main_id {
    grid-template-rows: auto auto auto 200px;
    row-gap: 20px;
  }
  .conteiner__presentation {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 360px;
    border-radius: 0% 0% 30% 30%;
  }
  .presentation__h1 {
    font-size: 140%;
    width: 90%;
    margin: 50px 0px 0px 0px;
  }
  .image__box {
    margin-top: 20px;
    width: 40vw;
  }
  .services__section {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .title__section {
    font-size: 125%;
    margin: 2rem;
  }
  .card {
    margin: 0px;
    transform: scale(0.83, 0.83);
  }
  .card:hover {
    transform: scale(0.9, 0.9);
  }
  .title__section2 {
    font-size: 125%;
    margin: 2rem;
  }
  .conteiner__because {
    flex-direction: column;
    margin: 5px;
  }
  .conteiner__because2 {
    order: 1;
    width: 80%;
  }
  .title__because {
    font-size: 140%;
    margin-top: 5px;
  }
  .div__img--because {
    width: 80%;
    height: 140%;
  }
  .because__p {
    font-size: 120%;
    margin: 10px 0px 30px 0px;
  }
  .work {
    width: 80%;
  }
  /*--------<Main Nosotros>------*/
  .main__n {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "s1" "s2" "s3" "s4";
  }
  .section__1, .section__2, .section__3, .section__4 {
    margin-bottom: 40px;
  }
  .section__2 {
    margin-bottom: 100px;
  }
  .section__3 {
    margin-bottom: 100px;
  }
  .section__4 {
    margin-bottom: 150px;
  }
  .section__n--img {
    margin-top: 30px;
  }
  .section__n--p {
    font-size: 110%;
  }
  .div__logo--a {
    display: none;
  }
  /*--------<Main Servicios>------*/
  .main__servicios {
    grid-template-rows: 1px 400px 370px 360px 1px;
  }
  .section__serv--h2 {
    padding-top: 40px;
    font-size: 25px;
  }
  .section__serv--p1 {
    width: 268px;
    height: 170px;
    font-size: 80%;
    padding-top: 20px;
    margin-top: 30px;
  }
  .section__serv--p2 {
    width: 268px;
    height: 190px;
    font-size: 80%;
    padding-top: 20px;
    margin-top: 30px;
  }
  .section__serv--p3 {
    width: 268px;
    height: 150px;
    font-size: 80%;
    padding-top: 40px;
    margin-top: 30px;
  }
  /*--------<Main Proyecto>------*/
  .main__proyecto {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
  .div__titulo {
    width: 300px;
  }
  .h2__titulo {
    font-size: 25px;
  }
  .p__titulo {
    font-size: 15px;
  }
  .carrusel__principal {
    width: 350px;
    height: 310px;
  }
  .div__empresas {
    animation: titulo 15s infinite;
  }
  .ul__img {
    animation: carrusel 15s infinite;
  }
  @keyframes titulo {
    0% {
      margin-left: 0%;
    }
    10% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }
    45% {
      margin-left: -100%;
    }
    65% {
      margin-left: -200%;
    }
    75% {
      margin-left: -200%;
    }
  }
  @keyframes carrusel {
    0% {
      margin-left: 0%;
    }
    10% {
      margin-left: -100%;
    }
    20% {
      margin-left: -200%;
    }
    30% {
      margin-left: -300%;
    }
    40% {
      margin-left: -400%;
    }
    50% {
      margin-left: -500%;
    }
    60% {
      margin-left: -600%;
    }
    70% {
      margin-left: -700%;
    }
    80% {
      margin-left: -800%;
    }
  }
  /*--------<Main Contacto>------*/
  .main__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 50px;
  }
  .div__contacto {
    justify-content: center;
    width: 100%;
  }
  .h2__contacto {
    font-size: 180%;
  }
  .label__contacto {
    font-size: 110%;
  }
  form {
    width: 80%;
    justify-content: center;
  }
  .input {
    width: 100%;
    height: 25px;
    font-size: small;
  }
  .button {
    width: 50px;
    height: 30px;
    font-size: small;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  .iframe__contacto {
    width: 80%;
  }
}
/*-----------------<BREACK 400PX a 600px>------------------*/
@media (min-width: 401px) and (max-width: 600px) {
  /*--------<Header>--------*/
  .header__div--h1 {
    display: none;
  }
  .header__div--img {
    margin-left: 30px;
    margin-top: 0px;
  }
  .header__h2 {
    display: block;
    font-weight: 300;
    color: rgb(7, 6, 83);
    font-size: large;
    margin-top: 15px;
  }
  .nav__check:checked + .nav__ul {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  a {
    color: black;
    font-size: 25px;
    margin: 20px 0 5px 0;
  }
  a:hover {
    color: aquamarine;
  }
  .nav__ul {
    height: 300px;
    width: 100%;
    top: 91px;
    right: 0px;
    background-color: rgba(248, 248, 248, 0.662745098);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.1px;
    margin-top: 5px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.2s ease-in-out;
  }
  .nav__li {
    display: flex;
    justify-content: space-between;
  }
  .menu__burguer {
    display: block;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 20px;
  }
  /*--------<Main Index>---------*/
  .main_id {
    grid-template-rows: auto auto auto 200px;
    row-gap: 20px;
  }
  .conteiner__presentation {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 370px;
    border-radius: 0% 0% 30% 30%;
  }
  .presentation__h1 {
    font-size: 130%;
    width: 100%;
    margin: 50px 0px 0px 0px;
  }
  .image__box {
    margin-top: 20px;
    width: 40vw;
  }
  .services__section {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .title__section {
    font-size: 125%;
    margin: 2rem;
  }
  .card {
    margin: 0px;
    transform: scale(0.83, 0.83);
  }
  .card:hover {
    transform: scale(0.9, 0.9);
  }
  .title__section2 {
    font-size: 125%;
    margin: 2rem;
  }
  .conteiner__because {
    flex-direction: column;
    margin: 5px;
  }
  .conteiner__because2 {
    order: 1;
    width: 80%;
  }
  .title__because {
    font-size: 140%;
    margin-top: 20px;
  }
  .div__img--because {
    width: 70%;
    height: 130%;
  }
  .because__p {
    font-size: 120%;
    margin: 10px 0px 30px 0px;
  }
  .work {
    width: 80%;
  }
  /*------<Main Nosotros----*/
  .main__n {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "s1" "s2" "s3" "s4";
  }
  .section__1, .section__2, .section__3, .section__4 {
    margin-bottom: 40px;
  }
  .section__2 {
    margin-bottom: 100px;
  }
  .section__3 {
    margin-bottom: 100px;
  }
  .section__4 {
    margin-bottom: 150px;
  }
  .section__n--img {
    margin-top: 30px;
  }
  .section__n--p {
    font-size: 110%;
  }
  .div__logo--a {
    display: none;
  }
  /*--------<Main Servicios>------*/
  .main__servicios {
    grid-template-rows: 1px 400px 370px 360px 1px;
  }
  .section__serv--h2 {
    padding-top: 40px;
    font-size: 25px;
  }
  .section__serv--p1 {
    width: 310px;
    height: 170px;
    font-size: 90%;
    padding-top: 10px;
    margin-top: 30px;
  }
  .section__serv--p2 {
    width: 310px;
    height: 200px;
    font-size: 90%;
    padding-top: 10px;
    margin-top: 30px;
  }
  .section__serv--p3 {
    width: 310px;
    height: 150px;
    font-size: 90%;
    padding-top: 30px;
    margin-top: 30px;
  }
  /*--------<Main Proyecto>------*/
  .main__proyecto {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
  .div__titulo {
    width: 300px;
  }
  .h2__titulo {
    font-size: 27px;
  }
  .p__titulo {
    font-size: 17px;
  }
  .carrusel__principal {
    width: 350px;
    height: 310px;
  }
  .div__empresas {
    animation: titulo 15s infinite;
  }
  .ul__img {
    animation: carrusel 15s infinite;
  }
  @keyframes titulo {
    0% {
      margin-left: 0%;
    }
    10% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }
    45% {
      margin-left: -100%;
    }
    65% {
      margin-left: -200%;
    }
    75% {
      margin-left: -200%;
    }
  }
  @keyframes carrusel {
    0% {
      margin-left: 0%;
    }
    10% {
      margin-left: -100%;
    }
    20% {
      margin-left: -200%;
    }
    30% {
      margin-left: -300%;
    }
    40% {
      margin-left: -400%;
    }
    50% {
      margin-left: -500%;
    }
    60% {
      margin-left: -600%;
    }
    70% {
      margin-left: -700%;
    }
    80% {
      margin-left: -800%;
    }
  }
  /*--------<Main Contacto>------*/
  .main__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 50px;
  }
  .div__contacto {
    justify-content: center;
    width: 100%;
  }
  .h2__contacto {
    font-size: 180%;
  }
  .label__contacto {
    font-size: 110%;
  }
  form {
    width: 60%;
    justify-content: center;
  }
  .input {
    width: 100%;
    height: 25px;
    font-size: small;
  }
  .button {
    width: 50px;
    height: 30px;
    font-size: small;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  .iframe__contacto {
    width: 80%;
  }
}
/*----------------<BREAK 600px a 768px>------------------*/
@media (min-width: 601px) and (max-width: 768px) {
  /*--------<Header>--------*/
  .header__div--h1 {
    width: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
  }
  .header__div--img {
    margin-left: 30px;
  }
  .nav__ul {
    margin-right: 20px;
  }
  .nav__li {
    font-size: medium;
    display: flex;
    margin-right: 0px;
    padding: 8px;
  }
  /*--------<Main Index>---------*/
  .main_id {
    grid-template-rows: auto auto auto 200px;
    row-gap: 20px;
  }
  .conteiner__presentation {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 480px;
    border-radius: 0% 0% 30% 30%;
  }
  .presentation__h1 {
    font-size: 160%;
    width: 70%;
    margin: 70px 0px 0px 0px;
  }
  .image__box {
    margin-top: 20px;
    width: 35vw;
  }
  .services__section {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .title__section {
    font-size: 135%;
    margin: 2rem;
  }
  .card {
    margin: 0px;
    transform: scale(0.9, 0.9);
  }
  .card:hover {
    transform: scale(0.95, 0.95);
  }
  .title__section2 {
    font-size: 145%;
    margin: 2rem;
  }
  .conteiner__because {
    flex-direction: column;
    margin: 5px;
  }
  .conteiner__because2 {
    order: 1;
    width: 80%;
  }
  .title__because {
    font-size: 145%;
    margin-top: 20px;
  }
  .div__img--because {
    width: 50%;
  }
  .because__p {
    font-size: 120%;
    margin: 10px 0px 30px 0px;
  }
  .work {
    width: 80%;
  }
  /*------<Main Nosotros----*/
  .main__n {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "s1" "s2" "s3" "s4" "logo";
  }
  .section__1, .section__2, .section__3, .section__4 {
    margin-bottom: 40px;
  }
  .section__2 {
    margin-bottom: 100px;
  }
  .section__3 {
    margin-bottom: 100px;
  }
  .section__4 {
    margin-bottom: 150px;
  }
  .section__n--img {
    margin-top: 30px;
  }
  .section__n--p {
    font-size: 110%;
  }
  .div__logo--a {
    display: none;
  }
  /*--------<Main Servicios>------*/
  .main__servicios {
    grid-template-rows: 1px 400px 370px 360px 1px;
  }
  .section__serv--h2 {
    padding-top: 40px;
    font-size: 25px;
  }
  .section__serv--p1 {
    width: 450px;
    height: 150px;
    font-size: 100%;
    padding-top: 20px;
    margin-top: 30px;
  }
  .section__serv--p2 {
    width: 450px;
    height: 170px;
    font-size: 100%;
    padding-top: 10px;
    margin-top: 30px;
  }
  .section__serv--p3 {
    width: 310px;
    height: 150px;
    font-size: 100%;
    padding-top: 20px;
    margin-top: 30px;
  }
  /*--------<Main Proyecto>------*/
  .main__proyecto {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
  .div__titulo {
    width: 300px;
  }
  .h2__titulo {
    font-size: 32px;
  }
  .p__titulo {
    font-size: 19px;
  }
  .carrusel__principal {
    width: 500px;
    height: 410px;
  }
  .div__empresas {
    animation: titulo 15s infinite;
  }
  .ul__img {
    animation: carrusel 15s infinite;
  }
  @keyframes titulo {
    0% {
      margin-left: 0%;
    }
    10% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }
    45% {
      margin-left: -100%;
    }
    65% {
      margin-left: -200%;
    }
    75% {
      margin-left: -200%;
    }
  }
  @keyframes carrusel {
    0% {
      margin-left: 0%;
    }
    10% {
      margin-left: -100%;
    }
    20% {
      margin-left: -200%;
    }
    30% {
      margin-left: -300%;
    }
    40% {
      margin-left: -400%;
    }
    50% {
      margin-left: -500%;
    }
    60% {
      margin-left: -600%;
    }
    70% {
      margin-left: -700%;
    }
    80% {
      margin-left: -800%;
    }
  }
  /*--------<Main Contacto>------*/
  .main__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 50px;
  }
  .h2__contacto {
    font-size: 185%;
  }
  .label__contacto {
    font-size: 130%;
  }
  form {
    width: 60%;
    justify-content: center;
    align-content: center;
  }
  .input {
    width: 100%;
    height: 25px;
    font-size: large;
  }
  .button {
    width: 50px;
    height: 30px;
    font-size: large;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  .iframe__contacto {
    width: 70%;
  }
}
/*----------------<BREAK 769px a 1024px>------------------*/
@media (min-width: 769px) and (max-width: 1024px) {
  /*--------<Header>--------*/
  .header__div--h1 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 17px;
  }
  .header__div--img {
    margin-left: 30px;
  }
  .nav__ul {
    margin-right: 20px;
  }
  .nav__li {
    display: flex;
    margin-right: 0px;
  }
  /*--------<Main Index>---------*/
  .main_id {
    grid-template-rows: auto auto auto 200px;
    row-gap: 20px;
  }
  .conteiner__presentation {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 480px;
    border-radius: 0% 0% 30% 30%;
  }
  .presentation__h1 {
    font-size: 160%;
    width: 70%;
    margin: 70px 0px 0px 0px;
  }
  .image__box {
    margin-top: 20px;
    width: 35vw;
  }
  .services__section {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .title__section {
    font-size: 135%;
    margin: 2rem;
  }
  .conteiner__cards {
    justify-content: space-evenly;
  }
  .card {
    margin: 0px;
    transform: scale(0.93, 0.93);
  }
  .card:hover {
    transform: scale(0.98, 0.98);
  }
  .title__section2 {
    font-size: 145%;
    margin: 2rem;
  }
  .conteiner__because {
    margin: 5px;
  }
  .conteiner__because2 {
    width: 80%;
  }
  .title__because {
    font-size: 145%;
    margin-top: 20px;
  }
  .div__img--because {
    width: 50%;
  }
  .because__p {
    width: 70%;
    font-size: 120%;
    margin: 10px 0px 30px 85px;
  }
  .work {
    width: 80%;
  }
  /*------<Main Nosotros----*/
  .main__n {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "s1 s2" "s3 s4";
  }
  .section__2 {
    margin-top: 1px;
  }
  .section__3 {
    margin-bottom: 130px;
  }
  .section__4 {
    margin-bottom: 140px;
  }
  .section__n--img {
    margin-top: 30px;
    width: 160px;
    height: 180px;
    border-radius: 3000px;
  }
  .section__n--p {
    font-size: 110%;
  }
  .div__logo--a {
    display: none;
  }
  /*-------<Main Servicios>------*/
  .main__servicios {
    grid-template-rows: 1px 500px 500px 500px 1px;
  }
  .section__serv--h2 {
    padding-top: 60px;
    font-size: 40px;
  }
  .section__serv--p1 {
    width: 600px;
    height: 200px;
    font-size: 130%;
    padding-top: 30px;
    margin-top: 60px;
  }
  .section__serv--p2 {
    width: 600px;
    height: 230px;
    font-size: 130%;
    padding-top: 15px;
    margin-top: 60px;
  }
  .section__serv--p3 {
    width: 600px;
    height: 200px;
    font-size: 130%;
    padding-top: 50px;
    margin-top: 60px;
  }
  /*--------<Main Proyecto>------*/
  .main__proyecto {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
  .div__titulo {
    width: 300px;
  }
  .h2__titulo {
    font-size: 30px;
  }
  .p__titulo {
    font-size: 18px;
  }
  .carrusel__principal {
    width: 760px;
    height: 240px;
  }
  .div__empresas {
    animation: titulo 15s infinite;
  }
  .ul__img {
    width: 400%;
    animation: carrusel 15s infinite;
  }
  .li__img {
    width: 252px;
  }
  /*--------<Main Contacto>------*/
  .main__contacto {
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: 1fr;
    grid-template-areas: ". div iframe .";
    column-gap: 20px;
  }
  .h2__contacto {
    font-size: 200%;
  }
  .label__contacto {
    font-size: 120%;
  }
  form {
    width: 100%;
  }
  .input {
    width: 90%;
    height: 25px;
    font-size: 105%;
  }
  textarea {
    width: 90%;
    height: 150px;
  }
  .button {
    width: 50px;
    height: 30px;
    font-size: large;
  }
  .iframe__contacto {
    width: 100%;
    height: 400px;
    margin-bottom: 5px;
  }
}
/*----------------<BREAK 1025px a 1200px>------------------*/
@media (min-width: 1025px) and (max-width: 1300px) {
  /*--------<Header>--------*/
  .header__div--h1 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 17px;
  }
  .header__div--img {
    margin-left: 30px;
  }
  .nav__ul {
    margin-right: 20px;
  }
  .nav__li {
    display: flex;
    margin-right: 0px;
  }
  /*------<Main Nosotros----*/
  .main__n {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "s1 s2" "s3 s4";
  }
  .section__2 {
    margin-top: 1px;
  }
  .section__3 {
    margin-bottom: 130px;
  }
  .section__4 {
    margin-bottom: 140px;
  }
  .section__n--img {
    margin-top: 30px;
    width: 160px;
    height: 180px;
    border-radius: 3000px;
  }
  .section__n--p {
    font-size: 110%;
  }
  .div__logo--a {
    display: none;
  }
  /*-------<Main Servicios>------*/
  .main__servicios {
    grid-template-rows: 1px 800px 650px 700px 1px;
  }
  .section__serv--h2 {
    padding-top: 60px;
    font-size: 55px;
  }
  .section__serv--p1 {
    width: 1000px;
    height: 400px;
    font-size: 200%;
    padding-top: 80px;
    margin-top: 60px;
  }
  .section__serv--p2 {
    width: 1000px;
    height: 400px;
    font-size: 200%;
    padding-top: 50px;
    margin-top: 60px;
  }
  .section__serv--p3 {
    width: 1000px;
    height: 400px;
    font-size: 200%;
    padding-top: 120px;
    margin-top: 60px;
  }
  /*--------<Main Proyecto>------*/
  .main__proyecto {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 100px;
    grid-template-areas: "titulo" "slider";
  }
  .div__titulo {
    width: 300px;
  }
  .h2__titulo {
    font-size: 35px;
  }
  .p__titulo {
    font-size: 19px;
  }
  .carrusel__principal {
    width: 980px;
    height: 296px;
  }
  .div__empresas {
    animation: titulo 15s infinite;
  }
  .ul__img {
    animation: carrusel 15s infinite;
  }
  .li__img {
    width: 325px;
  }
  /*--------<Main Contacto>------*/
  .main__contacto {
    grid-template-rows: 1fr 0.5fr 50px;
    column-gap: 25px;
  }
  .iframe__contacto {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
