@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@200;400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Albert+Sans:wght@700&family=Nunito:ital,wght@0,200;0,300;0,600;1,800&display=swap");
/*---------------------<BODY>---------------------*/
body {
  background-color: white;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

/*---------------------<HEADER>-------------------*/
header {
  grid-area: header;
  background-color: rgba(248, 248, 248, 0.662745098);
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  backdrop-filter: blur(20px);
  position: sticky;
  box-shadow: 1px 1px 5px 1px rgba(46, 44, 44, 0.295);
  z-index: 1000;
}

/*---------------<REGLAS GENERALES>---------------*/
a {
  color: rgb(7, 6, 83);
  text-decoration: none;
}

strong {
  font-style: italic;
}

main {
  grid-area: main;
}

textarea {
  width: 500px;
  height: 200px;
}

input[type=submit] {
  width: 100px;
}

label {
  font-size: 20px;
}

/*-------------------<FOOTER>---------------------*/
footer {
  width: 100%;
  height: 100px;
  background-color: #f8f8f8;
  grid-area: footer;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header__div--img {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 160px;
}

.header__div--h1 {
  font-weight: 300;
  color: rgb(7, 6, 83);
  font-size: large;
}

.header__h2 {
  display: none;
  color: rgb(7, 6, 83);
}

/* --------<MAIN INDEX>-------- */
.main__in {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "present" "servicios" "because";
  justify-items: center;
}

/* --------<MAIN NOSOTROS>-------- */
.main__n {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 550px;
  grid-template-areas: ". s1 . " "s2 logo s3 " ". s4 .";
  column-gap: 30px;
  row-gap: 30px;
  justify-items: center;
  align-content: flex-start;
  background-color: #3757E6;
}

/* --------<MAIN SERVICIOS>-------- */
.main__servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr, repeat(3, 1fr);
  justify-items: center;
  grid-template-areas: "section" "section1" "section2" "section3";
  background: linear-gradient(100deg, rgba(26, 40, 243, 0.705), rgba(224, 12, 118, 0.712) 78%);
  background-size: 600% 400%;
  animation: backgroundgradient 6s linear infinite;
}

/* --------<MAIN PROYECTO>-------- */
.main__proyecto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 1fr 1fr;
  grid-template-areas: ". titulo ." "slider slider slider";
  justify-items: center;
  background-color: #3757E6;
}

/*--------<MAIN CONTACTO>--------*/
.main__contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 100px;
  grid-template-areas: "div" "iframe";
  background-color: #3757E6;
}

.footer__div--a {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bi {
  color: black;
  font-size: 30px;
  transition: all, 0.3s;
}

.bi:hover {
  color: #3757E6;
  font-size: 40px;
}

.header__div--nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav__check {
  display: none;
}

.menu__burguer {
  display: none;
}

.nav__ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-right: 90px;
}

.nav__li {
  display: inline-block;
  font-size: large;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 280px;
  margin-top: 50px;
  text-align: center;
  background-color: white;
  box-shadow: inset 1px 1px 10px 4px rgba(83, 81, 81, 0.171);
}

.titulo__presentacion {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

.parrafo__presentacion {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 20px;
  width: 70%;
}

.section__service1, .section_service3, .section__service2 {
  grid-area: section1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  z-index: 3;
}

.section__service2 {
  grid-area: section2;
  z-index: 2;
}

.section_service3 {
  grid-area: section3;
  z-index: 1;
}

.container__article {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
}

.article {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(95, 156, 247, 0.685);
  box-shadow: 0px 0px 10px 4px rgba(71, 71, 207, 0.425);
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.div__servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 400px;
}

.div__servicio2 {
  position: relative;
}

.checkbox {
  display: none;
}
.checkbox:checked + .ul__servicio {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.ul__servicio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  list-style: none;
  color: white;
  width: 300px;
  right: 35px;
  border-radius: 4px;
  background-color: black;
  clip-path: polygon(100% 0, 0 0, 0 0%, 100% 0%);
  transition: clip-path 0.5s ease;
}

.li__servicio {
  padding: 5px;
}

.bi-box-arrow-in-down-left {
  font-size: 150%;
  color: #3757E6;
  cursor: pointer;
}

.section__serv--h2 {
  text-align: center;
  color: #3757E6;
  font-size: 135%;
  margin: 30px;
}

.parrafo__servicio {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #3757E6;
  width: 100%;
  height: 60%;
  text-align: center;
  font-size: large;
}

/*# sourceMappingURL=style.css.map */
