.seccion__clientes--presentacion {
  @include flexRowCenter;
  grid-area: titulo;
  background-color: white;
  height: 100%;
  @include size (xsmall) {
    @include flexColumCenter;
  }
  @include size (small) {
    @include flexColumCenter;
  }   
  .container__titulo--clientes {
    @include flexColumCenter;
    width: 50%;    
    color: map-get($color, second);
    text-align: center;
    margin-bottom: 150px;
    @include size (xsmall) {
      margin-bottom: 30px;
      width: 100%;
    } 
    @include size (small) {
      margin-bottom: 30px;
      width: 100%;
    }    
    .h2__titulo {
      font-family: $f-mont;        
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      @include size (xsmall) {
        font-size: 20px;
      } 
      @include size (small) {
        font-size: 20px;
      }
      @include size (medium) {
        font-size: 25px;
      }
      @include size (large) {
        font-size: 25px;
      }
      @include size (xlarge) {
        font-size: 28px;
      }   
    }    
    .p__titulo {
      font-family: $f-open;
      font-weight: 300;  
      font-size: 25px;
      width: 90%;
      @include size (xsmall) {
        font-size: 15px;
        width: 100%;
      } 
      @include size (small) {
        font-size: 20px;
        width: 100%;
      }
      @include size (medium) {
        font-size: 20px;
        width: 100%;
      }
      @include size (large) {
        font-size: 20px;
        width: 100%;
      }
      @include size (xlarge) {
        font-size: 23px;
        width: 100%;
      }         
    }
  }
  .container__imagen--titulo {
    width: 45%;
    margin-bottom: 100px;
    @include size (xsmall) {
      width: 80%;
    }
    @include size (small) {
      width: 65%;
    }
    .img__titulo {
      width: 95%;
    }
  }
}
.seccion__empresas {
  @include flexRowCenter;
  grid-area: slider;
  width: 100%;
  height: 100%; 
  background-color: white;
  overflow: hidden;         
  .div__carrusel {
    width: 90%;    
    margin-top: 20px;
    overflow: hidden;        
    .ul__img {              
      display: flex;    
      animation: carrusel 10s infinite;      
      .li__img {           
        display: flex;        
        .img__empresas {
          width: 250px;
          margin: 0px 45px 0px 45px;
          filter: grayscale(100%);
          @include size (xsmall) {
            width: 50px;
            margin: 0px 17px 0px 17px;            
          }
          @include size (small) {
            width: 97px;
            margin: 0px 17px 0px 17px;                        
          }
          @include size (medium) {
            width: 160px;
            margin: 0px 20px 0px 20px;                        
          }
          @include size (large) {
            width: 175px;
            margin: 0px 20px 0px 20px;                        
          }
          @include size (xlarge) {
            width: 200px;
            margin: 0px 30px 0px 30px;                        
          }          
        }           
      }    
    }
  }    
}

@keyframes carrusel {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  65% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }    
}

.seccion__exito {
  @include flexColumCenter;
  justify-content: center;
  width: 100%;
  height: 100%; 
  box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 7px 2px inset;  
  .titulo__exito {
    font-family: $f-albert;    
    font-size: 32px;    
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 2rem;
    @include size (xsmall) {
      font-size: 20px;
    }
    @include size (small) {
      font-size: 23px;
    }
    @include size (medium) {
      font-size: 27px;
    }
    @include size (large) {
      font-size: 27px;
    }
    @include size (xlarge) {
      font-size: 30px;
    }
  }

  .container__exito {    
    width: 800px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    top: 40px;
    @include size (xsmall) {
      width: 300px;
      height: 250px;
    } 
    @include size (small) {
      width: 400px;
      height: 250px;
    } 
    @include size (medium) {
      width: 600px;
      height: 350px;
    }        
    .rel__imagen:checked + .contenido__carrucel {      
      opacity: 100;
    }      
    .contenido__carrucel {
      @include flexRowCenter;
      opacity: 0;           
      display: flex;            
      top: 0px;           
      transition: opacity 0.6s ease;      
      .parrafo__imagen {
        font-family: $f-albert;
        font-size: large;
        position: absolute;        
        z-index: 4;
        width: 90%;
        top: 300px;
        background-color: rgba(27, 27, 27, 0.658);
        color: white;
        @include size (xsmall) {
          top: 120px;
          font-size: 10px;
        }
        @include size (small) {
          top: 140px;
          font-size: 10px;
        }
        @include size (medium) {
          top: 230px;
          font-size: 15px;
        }
        
      }
      .img__carrucel1 {                        
        display: flex;                      
        z-index: 3;
        position: absolute;
        top: 0px;
        width: 800px;
        height: 450px;
        @include size (xsmall) {
          width: 300px;
          height: 250px;
        }
        @include size (small) {
          width: 400px;
          height: 250px;
        }                
      }
      .img__carrucel2 {
        @extend .img__carrucel1;
        z-index: 2;        
      }
      .img__carrucel3 {
        @extend .img__carrucel1;
        z-index: 1;        
      }
    }
  }
  .circle{
    list-style: none;     
    text-align: center;
    margin: 40px;      
    & li {
      display: inline-block;
      margin: 0 5px;
    }
    .indicador {
      color: rgb(255, 253, 253);
      cursor: pointer;
      display: block;
      font-size: 45px;
      @include size (xsmall) {
        font-size: 25px;
      }
      @include size (small) {
        font-size: 25px;
      }
      &:hover {
        color: rgb(1, 193, 252);
      }
    }
  }
  
  
}












