.seccion__clientes--presentacion {
  @include flexColumCenter;
  grid-area: titulo;
  background-color: white;
  width: 100%;
  height: 700px;
  @include size (xsmall) {
    @include flexColumCenter;
    height: 550px;    
  }
  @include size (small) {
    @include flexColumCenter;
    height: 650px;
  }
  @include size (medium) {
    @include flexColumCenter;
    height: 630px;
  }     
  .container__titulo--clientes {
    @include flexColumCenter;
    width: 80%;    
    color: map-get($color, second);
    text-align: center;
    margin-bottom: 20px;    
    @include size (xsmall) {
      margin-bottom: 30px;            
    } 
    @include size (small) {
      margin-bottom: 30px;      
    }        
    .h2__titulo {
      font-family: $f-mont;        
      font-size: 33px;
      padding: 20px ;
      @include size (xsmall) {
        font-size: 23px;
      } 
      @include size (small) {
        font-size: 25px;        
      }
      @include size (medium) {
        font-size: 25px;
      }
      @include size (large) {
        font-size: 27px;
      }
      @include size (xlarge) {
        font-size: 28px;
      }   
    }    
    .p__titulo {
      font-family: $f-open;
      font-weight: 300;  
      font-size: 30px;
      width: 690px;
      @include size (xsmall) {
        font-size: 20px;
        width: 300px;
      } 
      @include size (small) {
        font-size: 22px;
        width: 332px;
      }
      @include size (medium) {
        font-size: 20px;
        width: 485px;
      }
      @include size (large) {
        font-size: 23px;
        width: 600px;
      }
      @include size (xlarge) {
        font-size: 25px;
        width: 600px;
      }         
    }
  }
  .container__imagen--titulo {
    width: 600px;    
    @include size (xsmall) {
      width: 300px;      
    }
    @include size (small) {
      width: 365px;            
    }
    @include size (medium) {
      width: 450px;      
    }    
    .img__titulo {
      width: 100%;
    }
  }
}
.seccion__empresas {
  @include flexRowCenter;
  grid-area: slider;
  width: 100%;
  height: 100%; 
  background-color: white;
  overflow: hidden;         
  .div__carrusel {
    width: 1200px;    
    overflow: hidden;
    @include size (xsmall) {
      width: 320px;;
    }
    @include size (small) {
      width: 380px;
    } 
    @include size (medium) {
      width: 590px;
    } 
    @include size (large) {
      width: 760px;
    } 
    @include size (xlarge) {
      width: 1000px;
    }            
    .ul__img {              
      display: flex;    
      animation: carrusel 10s infinite;      
      .li__img {           
        display: flex;        
        .img__empresas {
          width: 200px;
          margin: 0px 45px 0px 45px;
          filter: grayscale(100%);
          @include size (xsmall) {
            width: 80px;
            margin: 0px 14px 0px 14px;            
          }
          @include size (small) {
            width: 97px;
            margin: 0px 17px 0px 17px;                        
          }
          @include size (medium) {
            width: 135px;
            margin: 0px 23px 0px 23px;                        
          }
          @include size (large) {
            width: 155px;
            margin: 0px 20px 0px 20px;                        
          }
          @include size (xlarge) {
            width: 180px;
            margin: 0px 37px 0px 37px;                        
          }          
        }           
      }    
    }
  }    
}

@keyframes carrusel {
  0% {
    margin-left: 0%;    
  }
  10% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  65% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }    
}

.seccion__exito {
  @include flexColumCenter;
  justify-content: center;
  width: 100%;
  height: 100%; 
  box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 7px 2px inset;  
  .titulo__exito {
    font-family: $f-albert;    
    font-size: 32px;    
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 2rem;
    @include size (xsmall) {
      font-size: 20px;
    }
    @include size (small) {
      font-size: 23px;
    }
    @include size (medium) {
      font-size: 27px;
    }
    @include size (large) {
      font-size: 27px;
    }
    @include size (xlarge) {
      font-size: 30px;
    }
  }

  .container__exito {    
    width: 800px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    top: 40px;
    @include size (xsmall) {
      width: 320px;
      height: 250px;
    } 
    @include size (small) {
      width: 395px;
      height: 270px;
    } 
    @include size (medium) {
      width: 525px;
      height: 350px;
    }
    @include size (large) {
      width: 740px;      
    }        
    .rel__imagen:checked + .contenido__carrucel {      
      opacity: 100;
    }      
    .contenido__carrucel {
      @include flexRowCenter;
      opacity: 0;           
      display: flex;            
      top: 0px;           
      transition: opacity 0.6s ease;      
      .parrafo__imagen {
        font-family: $f-albert;
        font-size: large;
        position: absolute;        
        z-index: 4;
        width: 90%;
        top: 300px;
        background-color: rgba(27, 27, 27, 0.658);
        color: white;
        @include size (xsmall) {
          top: 120px;
          font-size: 13px;
        }
        @include size (small) {
          top: 140px;
          font-size: 13px;
          width: 340px;
        }
        @include size (medium) {
          top: 230px;
          font-size: 15px;
        }
        
      }
      .img__carrucel1 {                        
        display: flex;                      
        z-index: 3;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 450px;
        @include size (xsmall) {          
          height: 250px;
        }
        @include size (small) {          
          height: 270px;
        }
        @include size (medium) {          
          height: 350px;
        }                
      }
      .img__carrucel2 {
        @extend .img__carrucel1;
        z-index: 2;        
      }
      .img__carrucel3 {
        @extend .img__carrucel1;
        z-index: 1;        
      }
    }
  }
  .circle{
    list-style: none;     
    text-align: center;
    margin: 40px;      
    & li {
      display: inline-block;
      margin: 0 5px;
    }
    .indicador {
      color: rgb(255, 253, 253);
      cursor: pointer;
      display: block;
      font-size: 45px;
      @include size (xsmall) {
        font-size: 25px;
      }
      @include size (small) {
        font-size: 25px;
      }
      &:hover {
        color: rgb(1, 193, 252);
      }
    }
  }
  
  
}












