
.presentacion {
    @include flexColumCenter;
    column-gap: 35px;
    grid-area: section;
    width: 100%;
    height: 570px;    
    background-color: white;    
    border-radius: 0% 0% 100% 80%;
    .titulo__presentacion {    
        font-family: $f-mont;
        font-weight: 700;
        font-size: 180%;
        margin-top: 20px;
        color: map-get($color, second);    
    }
     .container__imagen--titulo{
        @include flexRowCenter;
        .container__imagen--presentacion {
            width: 40%;            
        }
    }           
}

.container__titulo--presentacion {
    @include flexColumCenter;
    width: 35%;
    .parrafo__presentacion {
        font-family: $f-open;
        font-weight: 300;
        font-size: 150%;        
        color: map-get($color, second);
     }    
}

.seccion__servicios--electricidad {
    @include flexRowEvenly;
    grid-area: section1;
    width: 100%;
    color: map-get($color, base);
    
    .articulo__servicios { 
        @include flexColumCenter;
        justify-content: space-evenly;                       
        text-align: center;                 
        width: 50%;
        height: 50%;
        margin-top: 120px;
        
        .h2__articulo {        
            text-align: center;
            width: 100%;               
            font-size: 30px;
            margin: 30px;        
        }
        .parrafo__articulo {        
            font-family: $f-open;
            font-weight: 400;
            font-size: 25px;                
            width: 100%;
            height: 80%;                                 
            text-align: center;        
        }        
    }    
    .items__card {
        @include flexColumCenter;             
        text-align: left;   
        width: 25%;
        height: 75%;        
        background-color: white;
        color: map-get($color, second);
        margin-top: 45px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;        
        .titulo__items--card {
            font-family: $f-open;
            font-weight: 800;
            font-size: 18px;
            margin: 20px;
        }
        .ul__servicio {
            width: 80%;            
            .li__servicio {                
                padding: 10px;
                list-style: square;
                font-size: 16px;
            }
        }
        

    }
}
.seccion__servicios--construcciones {
    @extend .seccion__servicios--electricidad;
    grid-area: section2;
}
.seccion__servicios--plomeria {
    @extend .seccion__servicios--electricidad;
    grid-area: section3;
}
.seccion__servicios--aire {
    @extend .seccion__servicios--electricidad;
    grid-area: section4;
}
.seccion__servicios--redes {
    @extend .seccion__servicios--electricidad;
    grid-area: section5;
}
.seccion__servicios--control {
    @extend .seccion__servicios--electricidad;
    grid-area: section6;
}






