
.presentacion {
    @include flexColumCenter;
    column-gap: 35px;
    grid-area: section;
    width: 100%;
    height: 570px;    
    background-color: #3757E6;    
    border-radius: 0% 0% 100% 80%;
           
}
.container__imagen--titulo{
    @include flexRowCenter
}
.container__imagen--presentacion {
    width: 40%;
}
.container__titulo--presentacion {
    @include flexColumCenter;
    width: 35%;
    margin-top: 100px;
}
.titulo__presentacion {    
    font-family: $f-mont;
    font-weight: 700;
    font-size: 180%;
    margin-top: 20px;
    color: map-get($color, base);    
 }
 .parrafo__presentacion {
    font-family: $f-open;
    font-weight: 300;
    font-size: 150%;
    margin-top: 30px;    
    color: map-get($color, base);
 }

.section__service1 {
    grid-area: section1;
    display: flex;        
    align-items: center;    
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: map-get($color, base)            
}

.section__service2 {
    @extend .section__service1;
    grid-area: section2;
    z-index: 2;        
}

.section__service3 {
    @extend .section__service1;
    grid-area: section3;
    z-index: 1;        
}
.container__article {
    @include flexRowCenter;
    width: 100%;
    height: 80%;        
}
.article {
    display: flex;
    justify-content: center;      
    text-align: center;   
    width: 20%;
    height: 350px;
    margin: 60px;                     
}
.div__servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3757E6;
    box-shadow: 0px 0px 10px 5px rgba(178, 178, 180, 0.514);
    border-radius: 20px;
         
}
.div__servicio2 {
    position: relative;            
}
.checkbox {
    display: none;
    &:checked + .ul__servicio {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);        
    }
}
.ul__servicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    position: absolute;    
    list-style: none;    
    color:white;    
    width: 300px;        
    right: 35px;    
    border-radius: 4px;             
    background-color: black;
    clip-path: polygon(100% 0, 0 0, 0 0%, 100% 0%);
    transition: clip-path 0.5s ease;        
}
.li__servicio {        
    padding: 5px;
    
}
.bi-box-arrow-in-down-left {    
    font-size: 150%;
    color: map-get($color, base);
    cursor: pointer;           
}
.section__serv--h2 { 
    text-align: center;
    color: map-get($color, base);       
    font-size: 135%;
    margin: 30px;
}

.parrafo__servicio {
    font-family: $f-open;
    font-weight: 400;     
    color: map-get($color, base);
    width: 100%;
    height: 60%;                         
    text-align: center;
    font-size: large;             
}