.footer__div--a {    
    width: 200px;
    display:flex;        
    align-items: center;
    justify-content: space-between;          
}

.bi {
    color: black;
    font-size: 30px;
    transition: all, 0.3s; 
}

.bi:hover { 
    color: #3757E6;
    font-size: 40px;        
} 