.footer__div--a {
    grid-area: links;
    @include flexRowCenter;
    justify-content: space-evenly;    
    width: 100%;    
    @include size (xsmall) {
        margin-top: 20px;
        align-content: center;        
        flex-wrap: wrap;                        
    }
    @include size (xsmall) {
        margin-top: 20px;                               
    }
    @include size (medium) {
        width: 20%;
    }
    @include size (large) {
        width: 30%;
    }    
    .bi {
        color: black;
        font-size: 30px;               
        transition: all, 0.3s;
        &:hover{
            color: #3757E6;            
        }
        @include size (xsmall) {
            font-size: 24px;
            margin: 10px 12px 10px 10px;             
        }
        @include size (small) {
            font-size: 24px;
            margin: 7px;
        }
        @include size (medium) {
            font-size: 26px;
            margin: 18px;
        }
        @include size (large) {
            font-size: 28px;
            margin: 18px;
        }   
    }         
}
.footer__direccion {
    grid-area: direccion;
    @include flexColumCenter;
    width: 100%;
    margin-top: 20px;
    @include size (xsmall) {        
        margin-top: 30px;
    }
    @include size (small) {        
        margin-top: 30px;
    }
    @include size (medium) {        
        margin-top: 30px;
    }
    .h3__footer {
        width: 30%;
        text-align: center;
        @include size (medium) {
            font-size: 18px;
        }
    }
    .direccion__container {        
        text-align: center;
        width: 100%;
        .ul__footer {
            width: 100%;
            list-style: none;
            .li__footer {
                a {
                    @include size (small) {
                        font-size: 12px;
                    }
                }
                @include size (xsmall) {
                    font-size: 15px;
                }
                @include size (small) {                    
                    font-size: 15px;
                }
                @include size (medium) {                    
                    font-size: 17px;
                }
                .bi {
                    color: #3757E6;
                    font-size: 20px;
                    padding-right: 5px;
                    @include size (xsmall) {
                        font-size: 10px;
                    }
                    @include size (small) {
                        font-size: 12px;
                    }
                    @include size (medium) {
                        font-size: 12px;
                    }                    
                }
            }
        }
    }    
}

.ubicacion__footer {
    @include flexRowCenter;
    z-index: 10;
    @include size(xsmall) {
        display: none;
    }
    @include size(small) {
        display: none;
    } 
    @include size(medium) {
        display: none;
    }
    @include size(large) {
        display: none;
    }          
    .iframe__ubicacion--footer {
        border-radius: 10px;                     
    }
}

 