/*---------------------<BODY>---------------------*/
body {        
    background-color: white;
    display: grid; 
    min-height: 100vh;   
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";       
}

/*-------------------<FOOTER>---------------------*/
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: .4fr auto .4fr;
    grid-template-areas: "direccion links iframe";             
    width: 100%;
    height: 140px;           
    background-color: #f8f8f8;
    @include size (xsmall) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "direccion links";
        justify-items: center;
    }
    @include size (small) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "direccion links";
        justify-items: center;
    }
    @include size (medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "direccion links";
        justify-items: center;
    }
    @include size (large) {
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-areas: "direccion links iframe";
        justify-items: center;
    }
    @include size (xlarge) {
        grid-template-columns: 1fr .3fr 1fr;
        grid-template-areas: "direccion links iframe";
        justify-items: center;
    }             
}


/* --------<MAIN INDEX>-------- */
.main__in {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "present" "servicios" "because" "work";
    justify-items: center;
    @include size(xsmall) {
        grid-template-rows: auto auto auto auto;        
    }
    @include size(small) {
        grid-template-rows: auto auto auto auto;        
    }
    @include size(medium) {
        grid-template-rows: auto auto auto auto;        
    }
    @include size (large) {
        grid-template-rows: 1fr auto auto auto;        
    }                  
}

/* --------<MAIN NOSOTROS>-------- */
.main__n {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 550px;
    grid-template-areas: ". s1 . " "s2 logo s3 " ". s4 .";
    column-gap: 30px;
    row-gap: 30px;    
    justify-items: center;    
    align-content: flex-start;              
    background-color: #3757E6;
    @include size(xsmall) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "s1" "s2" "s3" "s4";
    }
    @include size(small) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "s1" "s2" "s3" "s4";
    }
    @include size(medium){
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "s1" "s2" "s3" "s4";
    } 
    @include size (large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "s1 s2" "s3 s4";
    }
    @include size (xlarge) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 200px 1fr;
        grid-template-areas: "s1 s2" "logo logo" "s3 s4";;
    }   
}

/* --------<MAIN SERVICIOS>-------- */
.main__servicios {
    display: grid;    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);    
    row-gap: 50px;
    grid-template-areas: "section""section1""section2""section3""section4""section5""section6";
    background-color: #3757E6;
    @include size (xsmall) {
        grid-template-rows: 1fr repeat(6, 1fr);
        row-gap: 20px;        
    }
    @include size(small) {
        grid-template-rows: .8fr repeat(6, 1fr);
        row-gap: 20px; 
    }
    @include size(medium) {
        grid-template-rows: .8fr repeat(6, 1fr);
        row-gap: 20px; 
    }     
    @include size (large) {
        grid-template-rows: repeat(7, 1fr) 50px;
    }
    @include size (xlarge) {
        
    }      
}

/* --------<MAIN CLIENTES>-------- */
.main__clientes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .3fr 1fr;
    grid-template-areas: "titulo" "slider" "carrusel";
    justify-items: center;
    align-items: center;                      
    background-color: #3757E6;    
               
}

/*--------<MAIN CONTACTO>--------*/
.main__contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr .5fr 100px;              
    grid-template-areas: "div" "iframe";
    justify-items: center;      
    background-color: #3757E6;    
}