.header__div--img{
    display: flex; 
    align-items: center;   
    margin-top: 15px;    
    margin-left: 160px;           
}

.header__div--h1 {
    font-weight: 300;     
    color: rgb(7, 6, 83);       
    font-size: large;            
}

.header__h2 {
    display: none;
    color: rgb(7, 6, 83);
}