.header__div--img{
    display: flex; 
    align-items: center;      
    margin-left: 160px;
    @include size (xsmall) {
        margin-left: 30px;        
    }
    @include size (small){
        margin-left: 30px;        
    }
    @include size (medium) {
        margin-left: 30px;
    }
    @include size (large) {
        margin-left: 30px;
    }
    @include size (xlarge) {
        margin-left: 80px;        
    }           
}

.header__div--h2 {
    font-weight: 300;     
    color: rgb(7, 6, 83);       
    font-size: large;
    font-weight: 500;
    @include size (xsmall)  {        
        display: none;
    }
    @include size (small) {
        display: none;
    }
    @include size (medium) {
        width: 1%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        
        font-size: 14px;         
    }
    @include size (large) {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        
        font-size: 17px;         
    }
    @include size (xlarge) {
        width: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        
        font-size: 18px;                 
    }              
}

.header__h2 {
    display: none;
    color: rgb(7, 6, 83);
    @include size (small) {
        display: block;
        font-weight: 300;
        color: rgb(7, 6, 83);
        font-size: large;
        margin-top: 15px; 
    }
}