.header__div--nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;                 
}

.nav__check{
    display: none;    
}
.nav__check:checked + .nav__ul {
    @include size (xsmall) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    @include size (small) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }    
}

.menu__burguer {
    display:none;
}

.nav__ul { 
    display: flex;
    flex-wrap: nowrap;   
    list-style: none; 
    margin-right: 90px;
    @include size (xsmall) {
        height: 300px;
        width: 100%;        
        top: 90px;
        right: 0.0px;        
        background-color: #f8f8f8;               
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin-right: 0.1px;
        margin-top: 5px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 0.2s ease-in-out;        
    }
    @include size (small) {
        height: 300px;
        width: 100%;        
        top: 90px;
        right: 0.0px;        
        background-color: #f8f8f8;
        backdrop-filter: blur(20px);        
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin-right: 0.1px;
        margin-top: 5px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 0.2s ease-in-out; 
    }
    @include size (medium) {
        margin-left: 200px;
        margin-top: 20px;
    }
    @include size (large) {
        margin-left: 200px;
        margin-top: 20px;
    }
    @include size (xlarge) {
        margin-right: 20px;
    }         
}

.nav__li {    
    display: inline-block; 
    font-size: large;
    margin-right: 10px;          
    padding: 0px 10px 0px 10px;
    @include size (xsmall) {
        display: flex;        
        justify-content: space-between;        
        padding: 10px;
        margin-top: 15px;
        font-size: 17px;        
    }
    @include size (small) {
        display: flex;
        justify-content: space-between;
        font-size: 17px;                
    }
    @include size (medium) {
        padding: 0px 7px 0px 7px;
    }
    
    @include size (xlarge) {
        display: flex;
        margin-right: 0px;
    }                  
}
.menu__burguer{
    @include size (xsmall) {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 40px;
    }
    @include size (small) {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 40px;
    }    
}