/*---------------------<HEADER>-------------------*/
header {
    grid-area: header;    
    background-color: #f8f8f8a9;        
    height: 6rem;
    width: 100%;
    display: flex;     
    justify-content: space-between;
    align-items: center;    
    top: 0;
    backdrop-filter: blur(20px);    
    position: sticky;
    box-shadow: 1px 1px 5px 1px rgba(46, 44, 44, 0.295);
    z-index: 1000;                                
}

/*---------------<REGLAS GENERALES>---------------*/
a {    
    color: rgb(7, 6, 83);
    text-decoration: none;    
    &:hover {
        @include size (xsmall) {
            color:aquamarine;
        }
        @include size (small) {
            color:aquamarine
        }
    }
}

strong {
    font-style: italic;
}

main {            
    grid-area: main;           
}

textarea {
    width: 500px;
    height: 200px;
}

input[type=submit] {
    width: 100px;
}

label {
    font-size: 20px;
}

input[type=button] {
    width: 150px;
    font-family: 'Montserrat', sans-serif;    
    height: 30px;
    background-color: #3757E6;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: large;
    margin-top: 40px;    
}
input[type=button]:hover {
    background-color: #203cb8;
}

