/*----------------------------------<BREAKPOINTS>-------------------------*/

/*---------<BREACK 0PX a 400PX>--------*/
@media (max-width: 400px){    
    
    /*--------<Main Nosotros>------*/
    .main__n{        
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "s1" "s2" "s3" "s4";        
    }
    .section__1 {
        margin-bottom: 40px;
    }     
    .section__2 {
        margin-bottom: 100px;
    }
    .section__3 {
        margin-bottom: 100px;
    }
    .section__4 {
        margin-bottom: 150px;
    }
    .section__n--img {
        margin-top: 30px;
    } 
    .section__n--p {
        font-size: 110%;
    }
    .div__logo--a {
        display: none;
    }

    /*--------<Main Servicios>------*/
    .main__servicios {
        grid-template-rows: 1px 400px 370px 360px 1px; 
    }
    .section__serv--h2 {
        padding-top: 40px;
        font-size: 25px;
    }
    .section__serv--p1 {
        width: 268px;
        height: 170px;
        font-size: 80%;
        padding-top: 20px;
        margin-top: 30px;
    }
    .section__serv--p2 {
        width: 268px;
        height: 190px;
        font-size: 80%;
        padding-top: 20px;
        margin-top: 30px;
    }
    .section__serv--p3 {
        width: 268px;
        height: 150px;
        font-size: 80%;
        padding-top: 40px;
        margin-top: 30px;
    }
    
    /*--------<Main Proyecto>------*/
    .main__proyecto {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 100px;
        grid-template-areas: "titulo" "slider";    
    }
    .div__titulo {
        width: 300px;
    }
    .h2__titulo {
        font-size: 25px;
    }
    .p__titulo {
        font-size: 15px;
    }
    .carrusel__principal {
        width: 350px;
        height: 310px;
    }
    .div__empresas {
        animation: titulo 15s infinite;  
    }
    .ul__img {           
        animation: carrusel 15s infinite;    
    }
    @keyframes titulo {
        0% {
            margin-left: 0%;
          }
          10% {
            margin-left: 0%;
          }      
          20% {
            margin-left: 0%;
          }      
          45% {
            margin-left: -100%;
          }      
          65% {
            margin-left: -200%;
          }
          75% {
            margin-left: -200%;
          }
    
    }     
    @keyframes carrusel {
        0% {
          margin-left: 0%;
        }
        10% {
          margin-left: -100%;
        }
        20% {
          margin-left: -200%;
        }
        30% {
          margin-left: -300%;
        }
        40% {
          margin-left: -400%;
        }
        50% {
          margin-left: -500%;
        }
        60% {
          margin-left: -600%;
        }
        70% {
          margin-left: -700%;
        }
        80% {
          margin-left: -800%;
        }    
    }
    /*--------<Main Contacto>------*/
    .main__contacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr 50px ;
    }
    .div__contacto {
        justify-content: center;
        width: 100%;
    }
    .h2__contacto {        
        font-size: 180%;
    }
    .label__contacto {
        font-size: 110%;    
    }    
    form {
        width: 80%;        
        justify-content: center;                
    }    
    .input {        
        width: 100%;
        height: 25px;
        font-size: small;
    }
    .button {
        width: 50px;
        height: 30px;
        font-size: small;
    }
    textarea {
        width: 100%;
        height: 150px;        
    }    
    .iframe__contacto {        
        width: 80%;
    }
}

/*-----------------<BREACK 400PX a 600px>------------------*/
@media (min-width: 401px) and (max-width: 600px) {
    
    

    /*------<Main Nosotros----*/
    .main__n{        
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "s1" "s2" "s3" "s4";        
    }
    .section__1 {
        margin-bottom: 40px;
    }    
    .section__2 {
        margin-bottom: 100px;
    }
    .section__3 {
        margin-bottom: 100px;
    }
    .section__4 {
        margin-bottom: 150px;
    }
    .section__n--img {
        margin-top: 30px;
    }
    .section__n--p {
        font-size: 110%;
    }
    .div__logo--a {
        display: none;
    }
    
    /*--------<Main Servicios>------*/
    .main__servicios {
        grid-template-rows: 1px 400px 370px 360px 1px; 
    }
    .section__serv--h2 {
        padding-top: 40px;
        font-size: 25px;
    }
    .section__serv--p1 {
        width: 310px;
        height: 170px;
        font-size: 90%;
        padding-top: 10px;
        margin-top: 30px;
    }
    .section__serv--p2 {
        width: 310px;
        height: 200px;
        font-size: 90%;
        padding-top: 10px;
        margin-top: 30px;
    }
    .section__serv--p3 {
        width: 310px;
        height: 150px;
        font-size: 90%;
        padding-top: 30px;
        margin-top: 30px;
    }
    /*--------<Main Proyecto>------*/
    .main__proyecto {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 100px;
        grid-template-areas: "titulo" "slider";    
    }
    .div__titulo {
        width: 300px;
    }
    .h2__titulo {
        font-size: 27px;
    }
    .p__titulo {
        font-size: 17px;
    }
    .carrusel__principal {
        width: 350px;
        height: 310px;
    }
    .div__empresas {
        animation: titulo 15s infinite;  
    }
    .ul__img {           
        animation: carrusel 15s infinite;    
    }
    @keyframes titulo {
        0% {
            margin-left: 0%;
          }
          10% {
            margin-left: 0%;
          }      
          20% {
            margin-left: 0%;
          }      
          45% {
            margin-left: -100%;
          }      
          65% {
            margin-left: -200%;
          }
          75% {
            margin-left: -200%;
          }
    
    }     
    @keyframes carrusel {
        0% {
          margin-left: 0%;
        }
        10% {
          margin-left: -100%;
        }
        20% {
          margin-left: -200%;
        }
        30% {
          margin-left: -300%;
        }
        40% {
          margin-left: -400%;
        }
        50% {
          margin-left: -500%;
        }
        60% {
          margin-left: -600%;
        }
        70% {
          margin-left: -700%;
        }
        80% {
          margin-left: -800%;
        }    
    }
    /*--------<Main Contacto>------*/
    .main__contacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr 50px;
    }
    .div__contacto {
        justify-content: center;
        width: 100%;
    }
    .h2__contacto {        
        font-size: 180%;
    }
    .label__contacto {
        font-size: 110%;    
    }    
    form {
        width: 60%;        
        justify-content: center;                
    }    
    .input {        
        width: 100%;
        height: 25px;
        font-size: small;
    }
    .button {
        width: 50px;
        height: 30px;
        font-size: small;
    }
    textarea {
        width: 100%;
        height: 150px;        
    }    
    .iframe__contacto {        
        width: 80%;
    }
}

/*----------------<BREAK 600px a 768px>------------------*/
@media (min-width: 601px) and (max-width: 768px) {
    /*--------<Header>--------*/
    .header__div--h1 {
        width: 1%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        
        font-size: 16px;               
    }
    .header__div--img {
        margin-left: 30px;
    }     
    .nav__ul {
        margin-right: 20px;                
    }
    .nav__li {
        font-size: medium;
        display: flex;
        margin-right: 0px;
        padding: 8px;               
    }
    /*--------<Main Index>---------*/
    .main_id {
        grid-template-rows: auto auto auto 200px;
        row-gap: 20px;
    }
    .conteiner__presentation {
        flex-direction: column;        
        justify-content: flex-start;
        width: 100%;
        height: 480px;
        border-radius: 0% 0% 30% 30%;        
    }
    .presentation__h1 {
        font-size: 160%;
        width: 70%;
        margin: 70px 0px 0px 0px;
    }
    .image__box {
        margin-top: 20px;
        width: 35vw;
    }
    .services__section {
       justify-content: flex-end;
       margin-top: 20px; 
    }
    .title__section {
        font-size: 135%;
        margin: 2rem;
    }    
    .card {
       margin: 0px;
       transform: scale(0.90, 0.90); 
    }
    .card:hover {
        transform: scale(0.95, 0.95);
    }
    .title__section2 {
        font-size: 145%;
        margin: 2rem;
    }
    .conteiner__because {
        flex-direction: column;
        margin: 5px;        
    }
    .conteiner__because2 {
        order: 1;
        width: 80%;        
    }
    .title__because {
        font-size: 145%;
        margin-top: 20px;
    }
    .div__img--because {
        width: 50%;        
    }
    .because__p {
        font-size: 120%;
        margin: 10px 0px 30px 0px;        
    }
    .work {
        width: 80%;
    }

    /*------<Main Nosotros----*/  
    .main__n{        
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "s1" "s2" "s3" "s4" "logo";        
    }
    .section__1 {
        margin-bottom: 40px;
    }    
    .section__2 {
        margin-bottom: 100px;
    }
    .section__3 {
        margin-bottom: 100px;
    }
    .section__4 {
        margin-bottom: 150px;
    }
    .section__n--img {
        margin-top: 30px;
    } 
    .section__n--p {
        font-size: 110%;
    }
    .div__logo--a {
        display: none;
    }
    
    /*--------<Main Servicios>------*/
    .main__servicios {
        grid-template-rows: 1px 400px 370px 360px 1px; 
    }
    .section__serv--h2 {
        padding-top: 40px;
        font-size: 25px;
    }
    .section__serv--p1 {
        width: 450px;
        height: 150px;
        font-size: 100%;
        padding-top: 20px;
        margin-top: 30px;
    }
    .section__serv--p2 {
        width: 450px;
        height: 170px;
        font-size: 100%;
        padding-top: 10px;
        margin-top: 30px;
    }
    .section__serv--p3 {
        width: 310px;
        height: 150px;
        font-size: 100%;
        padding-top: 20px;
        margin-top: 30px;
    }
    /*--------<Main Proyecto>------*/
    .main__proyecto {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr 100px;
        grid-template-areas: "titulo" "slider";    
    }
    .div__titulo {
        width: 300px;
    }
    .h2__titulo {
        font-size: 32px;
    }
    .p__titulo {
        font-size: 19px;
    }
    .carrusel__principal {
        width: 500px;
        height: 410px;
    }
    .div__empresas {
        animation: titulo 15s infinite;  
    }
    .ul__img {           
        animation: carrusel 15s infinite;    
    }
    @keyframes titulo {
        0% {
            margin-left: 0%;
          }
          10% {
            margin-left: 0%;
          }      
          20% {
            margin-left: 0%;
          }      
          45% {
            margin-left: -100%;
          }      
          65% {
            margin-left: -200%;
          }
          75% {
            margin-left: -200%;
          }
    
    }     
    @keyframes carrusel {
        0% {
          margin-left: 0%;
        }
        10% {
          margin-left: -100%;
        }
        20% {
          margin-left: -200%;
        }
        30% {
          margin-left: -300%;
        }
        40% {
          margin-left: -400%;
        }
        50% {
          margin-left: -500%;
        }
        60% {
          margin-left: -600%;
        }
        70% {
          margin-left: -700%;
        }
        80% {
          margin-left: -800%;
        }    
    }
    /*--------<Main Contacto>------*/
    .main__contacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr 50px;        
    }
         
    .h2__contacto {        
        font-size: 185%;
    }
    .label__contacto {
        font-size: 130%;    
    }    
    form {
        width: 60%;
        justify-content: center;        
        align-content: center;                
    }    
    .input {                
        width: 100%;
        height: 25px;
        font-size: large;
    }
    .button {
        width: 50px;
        height: 30px;
        font-size: large;
    }
    textarea {
        width: 100%;
        height: 150px;        
    }    
    .iframe__contacto {        
        width: 70%;
    }     
}

/*----------------<BREAK 769px a 1024px>------------------*/
@media (min-width: 769px) and (max-width: 1024px) {
    /*--------<Header>--------*/
    .header__div--h1 {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        
        font-size: 17px;               
    }
    .header__div--img {
        margin-left: 30px;
    }     
    .nav__ul {
        margin-right: 20px;                
    }
    .nav__li {
        display: flex;
        margin-right: 0px;               
    }

    /*--------<Main Index>---------*/
    .main_id {
        grid-template-rows: auto auto auto 200px;
        row-gap: 20px;
    }
    .conteiner__presentation {
        flex-direction: column;        
        justify-content: flex-start;
        width: 100%;
        height: 480px;
        border-radius: 0% 0% 30% 30%;        
    }
    .presentation__h1 {
        font-size: 160%;
        width: 70%;
        margin: 70px 0px 0px 0px;
    }
    .image__box {
        margin-top: 20px;
        width: 35vw;
    }
    .services__section {
       justify-content: flex-end;
       margin-top: 20px; 
    }
    .title__section {
        font-size: 135%;
        margin: 2rem;
    }
    .conteiner__cards {
        justify-content: space-evenly;
    }    
    .card {
       margin: 0px;
       transform: scale(0.93, 0.93); 
    }
    .card:hover {
        transform: scale(0.98, 0.98);
    }
    .title__section2 {
        font-size: 145%;
        margin: 2rem;
    }
    .conteiner__because {
        
        margin: 5px;        
    }
    .conteiner__because2 {        
        width: 80%;        
    }
    .title__because {
        font-size: 145%;
        margin-top: 20px;
    }
    .div__img--because {
        width: 50%;        
    }
    .because__p {        
        width: 70%;
        font-size: 120%;
        margin: 10px 0px 30px 85px;        
    }
    .work {
        width: 80%;
    }

    /*------<Main Nosotros----*/ 
    .main__n{        
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "s1 s2" "s3 s4";
    }
    .section__2 {
        margin-top: 1px;
    }    
    .section__3 {
        margin-bottom: 130px;        
    }
    .section__4 {
        margin-bottom: 140px;        
    }
    .section__n--img {
        margin-top: 30px;
        width: 160px;
        height: 180px;
        border-radius: 3000px;
    } 
    .section__n--p {
        font-size: 110%;
    }
    .div__logo--a {
        display: none;
    }
    
    /*-------<Main Servicios>------*/
    .main__servicios {
        grid-template-rows: 1px 500px 500px 500px 1px; 
    }
    .section__serv--h2 {
        padding-top: 60px;
        font-size: 40px;
    }
    .section__serv--p1 {
        width: 600px;
        height: 200px;
        font-size: 130%;
        padding-top: 30px;
        margin-top: 60px;
    }
    .section__serv--p2 {
        width: 600px;
        height: 230px;
        font-size: 130%;
        padding-top: 15px;
        margin-top: 60px;
    }
    .section__serv--p3 {
        width: 600px;
        height: 200px;
        font-size: 130%;
        padding-top: 50px;
        margin-top: 60px;
    }
    /*--------<Main Proyecto>------*/
    .main__proyecto {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr 100px;
        grid-template-areas: "titulo" "slider";    
    }
    
    .div__titulo {
        width: 300px;
    }
    .h2__titulo {
        font-size: 30px;
    }
    .p__titulo {
        font-size: 18px;
    }
    .carrusel__principal {
        width: 760px;
        height: 240px;
    }
    .div__empresas {
        animation: titulo 15s infinite;  
    }
    .ul__img {
        width: 400%;           
        animation: carrusel 15s infinite;    
    }
    .li__img {
        width: 252px;
    }       
     
    /*--------<Main Contacto>------*/
    .main__contacto {
        grid-template-columns:10px 1fr 1fr 10px;
        grid-template-rows: 1fr;
        grid-template-areas: ". div iframe .";
        column-gap: 20px;
    }    
    .h2__contacto {
        font-size: 200%;
    }
    .label__contacto {
        font-size: 120%;
    }    
    form {
        width: 100%;               
    }    
    .input {
        width: 90%;
        height: 25px;
        font-size: 105%;        
    }
    textarea {
        width: 90%;
        height: 150px;        
    }
    .button {
        width: 50px;
        height: 30px;
        font-size: large;
    }    
    .iframe__contacto {                
        width: 100%;
        height: 400px;
        margin-bottom: 5px;
    }  
}

/*----------------<BREAK 1025px a 1200px>------------------*/
@media (min-width: 1025px) and (max-width: 1300px) {
    /*--------<Header>--------*/
    .header__div--h1 {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        
        font-size: 17px;               
    }
    .header__div--img {
        margin-left: 30px;
    }     
    .nav__ul {
        margin-right: 20px;                
    }
    .nav__li {
        display: flex;
        margin-right: 0px;               
    }
    
    /*------<Main Nosotros----*/ 
    .main__n{        
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "s1 s2" "s3 s4";
    }
    .section__2 {
        margin-top: 1px;
    }    
    .section__3 {
        margin-bottom: 130px;        
    }
    .section__4 {
        margin-bottom: 140px;        
    }
    .section__n--img {
        margin-top: 30px;
        width: 160px;
        height: 180px;
        border-radius: 3000px;
    } 
    .section__n--p {
        font-size: 110%;
    }
    .div__logo--a {
        display: none;
    }
    
    /*-------<Main Servicios>------*/
    .main__servicios {
        grid-template-rows: 1px 800px 650px 700px 1px; 
    }
    .section__serv--h2 {
        padding-top: 60px;
        font-size: 55px;
    }
    .section__serv--p1 {
        width: 1000px;
        height: 400px;
        font-size: 200%;
        padding-top: 80px;
        margin-top: 60px;
    }
    .section__serv--p2 {
        width: 1000px;
        height: 400px;
        font-size: 200%;
        padding-top: 50px;
        margin-top: 60px;
    }
    .section__serv--p3 {
        width: 1000px;
        height: 400px;
        font-size: 200%;
        padding-top: 120px;
        margin-top: 60px;
    }
    /*--------<Main Proyecto>------*/
    .main__proyecto {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr 100px;
        grid-template-areas: "titulo" "slider";    
    }
    
    .div__titulo {
        width: 300px;
    }
    .h2__titulo {
        font-size: 35px;
    }
    .p__titulo {
        font-size: 19px;
    }
    .carrusel__principal {
        width: 980px;
        height: 296px;
    }
    .div__empresas {
        animation: titulo 15s infinite;  
    }
    .ul__img {                   
        animation: carrusel 15s infinite;    
    }
    .li__img {
        width: 325px;
    }
    /*--------<Main Contacto>------*/
    .main__contacto {
        grid-template-rows: 1fr .5fr 50px;        
        column-gap: 25px;
    }
    .iframe__contacto {
        width: 70%;
    }
    
}