//--------<Tipografia>---------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@200;400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Albert+Sans:wght@700&family=Nunito:ital,wght@0,200;0,300;0,600;1,800&display=swap');

$f-mont: "Montserrat", sans-serif;
$f-albert: "Albert Sans", sans-serif;
$f-open: "Open Sans", sans-serif;
$f-nunito: "Nunito", sans-serif;

$color:(
    'primary':#3757E6,
    'second':rgb(7, 6, 83),
    'base': white
);

$breakpoints: (
    'xsmall': '(max-width: 400px)',
    'small': '(min-width: 401) and (max-width: 600px)',
    'medium': '(min-width: 601) and (max-width: 768px)',
    'large': '(min-width: 768) and (max-width: 1024px)',
    'xlarge': '(min-width: 1024) and (max-width: 1200x)'
);
    

